.footer {
    background-color: $color-grey;
    padding: 5rem 5rem;

    &__list {
        list-style: none;
    }

    &__media-list {
        list-style: none;

    }


    &__media {
        display: inline-block;
        margin: 0 .7rem;
    }

    &__link {
        &:visited, &:link {
            text-decoration: none;
            color: $color-coffee;
        }

        &:hover, &:active {
            color: $color-brown-heavy;
        }
    }

    &__copyright {
        border-top: 1px solid $color-brown-light;
        padding-top: 3rem;
        display:block;
        margin: 0 auto;
        text-align: center;
        font-size: 1.2rem;
    }
}