body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    padding: 3rem;
    color: $color-coffee;
}

.heading-primary {
    color: $color-white;
    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 3rem;
        font-weight: 700;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
    }

    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 500;
        letter-spacing: 0.3rem;
    }
}

.heading-secondary {
    color: $color-coffee;
    margin-bottom: 2rem;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
}

.heading-tertiary {
    color: $color-coffee;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.paragraph {
    size: 1.6rem;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}